<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer>
        <ul>
            <li id="discord-link">
                <a href="https://discord.gg/MFzeztS" target="_blank">
                    <img src="../assets/Discord-Logo-Black.svg" alt="Discord logo">
                </a>
            </li>
            <li id="github-org-link">
                <a href="https://github.com/FITCommunity" target="_blank">
                    <img src="../assets/GitHub-Mark-120px-plus.png" alt="GitHub logo">
                </a>
            </li>
            <li id="github-repo-link">
                <a href="https://github.com/FITCommunity/Matematika" target="_blank">
                    <img src="../assets/GitHub-Mark-120px-plus.png" alt="GitHub logo">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
