<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{base.url}}/assets/css/main.css">        
    <link rel="stylesheet" href="{{base.url}}/assets/css/header.css">
</head>
<body>
    <header>
        <nav>
            <a href="{{base.url}}/index">Home</a>
            <a href="{{base.url}}/matematika-1">Matematika 1</a>
            <a href="{{base.url}}/matematika-2">Matematika 2</a>
            <a href="{{base.url}}/matematika-3">Matematika 3</a>            
        </nav>
    </header>
</body>
</html>
