h1
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    color: #999;
}

.home-post
{
    margin-bottom: 20px;
}

.item
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #999;
    margin: 10px;
    padding: 5px;
}