h1#title, h2
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    color: #999;
}

div#postavke, div#rjesenja
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.Postavka, .Rjesenje
{
    display: flex;
    text-align: center;
    overflow-wrap: break-word;
    width: 50px;
}

@media only screen and (max-width: 600px)
{
    div#postavke, div#rjesenja
    {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
