#title
{
    padding: 10px;
    color: #999;
}

.Tekst
{
    text-align: left;
}

div.Zadatak
{
    text-align: center;
    padding-left: 10px;
    padding: 10px; 
    margin: 10px;
    
}

div.Pod-Zadatak
{
    display: grid;
    grid-template-columns: 50% 50%;
}

div.Zadatak img
{
    width: 250px;
    height: 250px;
}

.autor
{
    padding-left: 10px;
    color: #999;
}

.MathJax_Display
{
    width: 100%;
}

@media only screen and (max-width: 600px)
{
    #title
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    div.Pod-Zadatak
    {
        display: grid;
        grid-template-columns: 100%;
    }
    div.Pod-Zadatak div
    {
        margin: 10px;
    }
}

