#title
{
    padding: 10px;
    color: #999;
}

h2.Zadatak
{
    padding-left: 10px;
    color: #999;
}

.autor
{
    padding-left: 10px;
    color: #999;
}

.MathJax_Display
{
    /* width: 50%; */
}

