---
layout: post
categories: "n/a"
authors:
    zadatak_1:
        - Ime Prezime
        - Ime Prezime
    zadatak_2:
        - Ime Prezime
    zadatak_n:
        - Ime Prezime
---
<meta name="viewport" content="width=device-width, initial-scale=1">
<p class="autor"> <!-- Koristiti samo u rješenjima -->
    <strong>Autor: </strong>
    {% for author in page.authors.zadatak_1 %}
        {{ author }}
    {% endfor %}
</p>
<div class="Zadatak">
    <p class="Tekst"></p>
    <!-- $$ latex code $$ -->
</div>