---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/page.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assign site_name = page.title | replace: ' ', '-' %}

<h1 id="title"> {{page.date | date: "%Y-%m-%d"}}<br>{{ page.name }} </h1>

<div id="posts">
    <h2>Postavke</h2>
    <div id="postavke">
        {% for post in site.posts %}
            {% if post.path contains site_name %}
                {% if post.path contains 'Postavka.html' %}
                    <div class="Postavka">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <figure>
                                <img class="file-icon" src="{{ site.baseurl }}/assets/img/html_file_icon.png" alt="file icon">
                                <figcaption>
                                    {{post.date | date: "%Y-%m-%d"}}<br>{{ post.title }}
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <h2>Rješenja</h2>
    <div id="rjesenja">
        {% for post in site.posts %}
            {% if post.path contains site_name %}
                {% if post.path contains 'Rjesenje.html' %}
                    <div class="Rjesenje">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <figure>
                                <img class="file-icon" src="{{ site.baseurl }}/assets/img/html_file_icon.png" alt="file icon">
                                <figcaption>
                                    {{post.date | date: "%Y-%m-%d"}}<br>{{ post.title }}
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

